<!DOCTYPE html>
<html ng-app='MochiClicker'>

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <script src="mochis.js"></script>
  <style>
    body {
      font-size: 1.2em;
    }
  </style>
  <title>Mochi clicker v0.0</title>
</head>

<body>
  <h1>Mochi Clicker</h1>
  <div ng-controller="MochiController">
    Dinero total: {{money}} <br> DPS: {{currentDps}}<br>
    <button ng-click="getOneMoney();">Dame un dinero</button>
    <table>
      <tr ng-repeat="item in mochis">
        <td>{{$index}} Hi {{ item.name }} </td>
      </tr>
    </table>
  </div>
</body>

</html>